@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,700&display=swap');
@import "~github-markdown-css/github-markdown.css";

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
