body {
  @apply text-primary-dark font-body leading-relaxed;

  &.menu_opened {
    @apply overflow-y-hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply font-title leading-snug font-bold;
}

.page {
  @apply px-50 bg-white;

  @screen tablet-lg {
    @apply px-100;
  }
}

a.more {
  @apply text-primary-dark;
  transition: all 0.2s;

  span {
    @apply text-lg font-bold;
  }

  svg {
    @apply text-lg ml-5 relative;
    margin-bottom: -2px;
    left: 0;
    transition: left 0.2s;
  }

  &.small {
    span {
      @apply text-base;
    }

    svg {
      @apply text-base;
      margin-bottom: -1px;
    }
  }

  &:focus,
  &:hover {
    @apply outline-none text-primary;

    svg {
      left: 0.25em;
    }
  }
}

.markdown-body {
  @apply font-body;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title border-b-0 text-primary-dark;
  }

  p {
    @apply leading-relaxed text-read;
  }

  blockquote {
    @apply border-primary;

    p {
      @apply text-primary italic;
    }

  }

  img {
    @apply my-20 object-cover w-full;
    transition: all 0.2s;

    &:focus,
    &:hover {
      @apply outline-none;

      -webkit-filter: contrast(1.4) saturate(1.4);
    }
  }


  a {
    @apply border-b border-primary text-primary-dark;

    &:hover,
    &:focus {
      @apply border-b-2 no-underline;
    }

    &:active {
      @apply border-accent;
    }
  }
}